doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        title Login & Signup
        link(href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet")
        link(href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap" rel="stylesheet")
        link(rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css")

        style.
            .enter-card {
                font-family: 'Poppins', sans-serif;
            }
            .enter-card h3 {
                font-weight: 600;
            }
            .form-label {
                font-weight: 400;
            }
            .password-container {
                position: relative;
            }
            .toggle-password {
                position: absolute;
                right: 10px;
                top: 50%;
                transform: translateY(-50%);
                cursor: pointer;
            }
            .password-icon {
                margin-top: 16px;
            }
            .navbar-custom {
                background-color: #2e3842 !important;
            }
            .navbar-custom .navbar-brand,
            .navbar-custom .nav-link {
                color: white !important;
            }
            .navbar-custom .nav-link:hover {
                color: #ddd !important;
            }

           
    body
        
        nav.navbar.navbar-expand-lg.navbar-custom.shadow-sm
            .container
                a.navbar-brand(href="/") Thread & Trend
                button.navbar-toggler(type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav")
                    span.navbar-toggler-icon

                .collapse.navbar-collapse#navbarNav
                    ul.navbar-nav.ms-auto
                        if user  
                            li.nav-item
                                a.nav-link(href="/") Home
                            li.nav-item
                                a.nav-link#logout-btn(href="") Log Out
                            li.nav-item
                                a.nav-link(href="elements.html") Profile 
                                    i.fas.fa-user.ms-1
                            li.nav-item
                                a.nav-link(href="#") Cart
                                    i.fas.fa-shopping-cart.ms-1
                        else 
                            li.nav-item
                                a.nav-link(href="/") Home  
                            li.nav-item
                                a.nav-link(href="/auth") Sign Up
                            li.nav-item
                                a.nav-link(href="/auth") Log In


        // ✅ Login and Signup Forms
        .d-flex.justify-content-center.align-items-center.vh-100
            .enter-card.card.p-4.shadow(style="width: 350px;")
                #login-form
                    h3.text-center Login
                    form.form--login
                        .mb-3
                            label.form-label(for="login-email") Email
                            input#login-email.form-control(type="email" required)
                        .mb-3.password-container
                            label.form-label(for="login-password") Password
                            input#login-password.form-control(type="password" required)
                            i.bi.bi-eye.toggle-password.password-icon(data-target="login-password")
                        button.btn.btn-primary.w-100(type="submit") Login
                    p.text-center.mt-3 Don't have an account? 
                        a.swap-auth(href="#") Sign Up

                #signup-form.d-none
                    h3.text-center Sign Up
                    form
                        .mb-2
                            label.form-label(for="signup-name") Name
                            input#signup-name.form-control(type="text" required)
                        .mb-2
                            label.form-label(for="signup-email") Email
                            input#signup-email.form-control(type="email" required)
                        .mb-2.password-container
                            label.form-label(for="signup-password") Password
                            input#signup-password.form-control(type="password" required)
                            i.bi.bi-eye.toggle-password.password-icon(data-target="signup-password")
                        .mb-2
                            label.form-label(for="signup-phone") Phone Number
                            input#signup-phone.form-control(type="tel" required)
                        .mb-3
                            label.form-label(for="signup-address") Address
                            input#signup-address.form-control(type="text" required)
                        button.btn.btn-success.w-100(type="submit") Sign Up
                    p.text-center.mt-3 Already have an account? 
                        a.swap-auth(href="#") Login

        // ✅ Scripts
        script(type="module" src="/js/authToggle.js")
        script(src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js")
        script(src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous")

        